<h1 align="center">üêç Python + Excel</h1>

–ú—ã –±—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –±–∏–±–ª–∏–æ—Ç–µ–∫—É **`xlwings`** –¥–ª—è –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ —Ä–∞–±–æ—á–µ–π –∫–Ω–∏–≥–µ Excel.
<br><br>
**Xlwings** ‚Äî —ç—Ç–æ API Python —Å –æ—Ç–∫—Ä—ã—Ç—ã–º –∏—Å—Ö–æ–¥–Ω—ã–º –∫–æ–¥–æ–º –¥–ª—è —É–ø—Ä–∞–≤–ª–µ–Ω–∏—è —Ñ–æ—Ä–º–∞—Ç–æ–º —Ñ–∞–π–ª–æ–≤ Excel. –ò—Å–ø–æ–ª—å–∑—É—è API, –≤—ã –º–æ–∂–µ—Ç–µ –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∏—Ä–æ–≤–∞—Ç—å Excel –∏–∑ Python –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –æ—Ç—á–µ—Ç–æ–≤, –Ω–∞–ø–∏—Å–∞–Ω–∏—è UDF (–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö —Ñ—É–Ω–∫—Ü–∏–π), –Ω–∞–ø–∏—Å–∞–Ω–∏—è –º–∞–∫—Ä–æ—Å–æ–≤ –∏ —É–¥–∞–ª–µ–Ω–Ω–æ–≥–æ —É–ø—Ä–∞–≤–ª–µ–Ω–∏—è Excel.

    üîó –°—Å—ã–ª–∫–∞ –Ω–∞ –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—é: https://docs.xlwings.org/en/stable/index.html


**GitHub ExcelPython:** https://github.com/ericremoreynolds/excelpython/blob/master/README.md

    ExcelPython –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω –≤ xlwings! –í –¥–∞–ª—å–Ω–µ–π—à–µ–º ExcelPython –±–æ–ª—å—à–µ –Ω–µ –±—É–¥–µ—Ç –∞–∫—Ç–∏–≤–Ω–æ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞—Ç—å—Å—è, –∏ –¥–∞–ª—å–Ω–µ–π—à–∞—è —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –±—É–¥–µ—Ç –æ—Å—É—â–µ—Å—Ç–≤–ª—è—Ç—å—Å—è –≤ –∫–æ–Ω—Ç–µ–∫—Å—Ç–µ xlwings.

**GitHub xlwings:** https://github.com/xlwings/xlwings

**–°–∞–π—Ç –ø—Ä–æ–¥—É–∫—Ç–∞:** https://www.xlwings.org/

## üê£ –¢–µ–æ—Ä–µ—Ç–∏—á–µ—Å–∫–∏–π –º–∏–Ω–∏–º—É–º –ø–æ Python

1. –û–±–ª–∞—Å—Ç–∏ –≤–∏–¥–∏–º–æ—Å—Ç–∏ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

    https://www.youtube.com/watch?v=TacyWpUF1Kk&ab_channel=selfedu


2. –ó–∞–º—ã–∫–∞–Ω–∏—è –≤ Python

    https://www.youtube.com/watch?v=sJF7OMNgLUs&ab_channel=selfedu

3. –í–≤–µ–¥–µ–Ω–∏–µ –≤ –¥–µ–∫–æ—Ä–∞—Ç–æ—Ä—ã —Ñ—É–Ω–∫—Ü–∏–π

    https://www.youtube.com/watch?v=v0qZPplzwUQ&t=321s&ab_channel=selfedu

4. –¢–∏–ø–∏–∑–∞—Ü–∏—è

    https://youtu.be/dKxiHlZvULQ

5. TypeAlias

    https://youtu.be/xdRroK3WwJg

## ‚ûï –î–æ–ø –º–∞—Ç–µ—Ä–∏–∞–ª

1. –ú–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ –≤ Excel –ø—Ä–∏ –ø–æ–º–æ—â–∏ Python –∏ PyXLL:

    https://habr.com/ru/companies/skillfactory/articles/569520/

2. –°–ª—É—á–∞–π–Ω–æ –Ω–∞—Ç–∫–Ω—É–ª—Å—è, –Ω–æ –ø–æ–ª–µ–∑–Ω–æ:

    https://proglib.io/p/paketnyy-api-obedinenie-zaprosov-s-pomoshchyu-asyncio-i-batch-api-2023-03-23

3. –ï—Å–ª–∏ –Ω–µ –ø–æ–Ω—è—Ç–Ω–æ —á—Ç–æ —Ç–∞–∫–æ–µ –ø–æ—Ç–æ–∫–∏ –∏ –∫–∞–∫ —ç—Ç–æ —Ä–∞–±–æ—Ç–∞–µ—Ç, —Ç–æ —Å—é–¥–∞:

    https://youtu.be/JIp14T9bvvc

4. OpenPyXL ‚Äì —ç—Ç–æ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞, –∏—Å–ø–æ–ª—å–∑—É–µ–º–∞—è –¥–ª—è —á—Ç–µ–Ω–∏—è –∏ –∑–∞–ø–∏—Å–∏ —Ñ–∞–π–ª–æ–≤ Excel 2010 xlsx/xlsm/xltx/xltm.

    https://docs-python.ru/packages/modul-openpyxl/
    
https://www.xlslim.com/en-us/blogs/news/pyxll

<h1 style="color:#008B8B">1. –£—Å—Ç–∞–Ω–æ–≤–∫–∞</h1>

https://docs.xlwings.org/en/stable/addin.html#xlwings-addin

**1. –£—Å—Ç–∞–Ω–æ–≤–∏—Ç—å Python 3.10.\***

* https://www.python.org/downloads/windows/ 

* –Ø –∏—Å–ø–æ–ª—å–∑—É—é Python 3.10.11

**2. –°–æ–∑–¥–∞–Ω–∏–µ venv**

* ```python -m venv venv```

* –ö–∞–∫ –≤–∞—Ä–∏–∞–Ω—Ç, –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å Poetry: https://youtu.be/KOC0Gbo_0HY

**2.1 –ê–∫—Ç–∏–≤–∞—Ü–∏—è venv**

* –ß—Ç–æ–±—ã –Ω–∞—á–∞—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –≤–∏—Ä—Ç—É–∞–ª—å–Ω—ã–º –æ–∫—Ä—É–∂–µ–Ω–∏–µ–º, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –µ–≥–æ –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å:

* ```venv\Scripts\activate.bat```  - –¥–ª—è Windows;

* ```source venv/bin/activate``` - –¥–ª—è Linux –∏ MacOS;

* https://pythonchik.ru/okruzhenie-i-pakety/virtualnoe-okruzhenie-python-venv

**3. –£—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø–∞–∫–µ—Ç–∞ –∏ –Ω–∞–¥—Å—Ç—Ä–æ–π–∫–∏**

* –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–æ —Å—Ç–æ–∏—Ç —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –≤–∏—Ä—Ç—É–∞–ª—å–Ω–æ–µ –æ–∫—Ä—É–∂–µ–Ω–∏–µ –±—ã–ª–æ –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞–Ω–æ!

* https://docs.xlwings.org/en/stable/installation.html

* ```pip install xlwings```

* Enable Trust access to the VBA project object model under File > Options > Trust Center > Trust Center Settings > Macro Settings. You only need to do this once. Also, this is only required for importing the functions, i.e. end users won‚Äôt need to bother about this.


* ```xlwings addin install```

* ```xlwings quickstart titanic```

# `(venv) C:\Users\bimas\OneDrive\Desktop\Excel>`

<h1 style="color:#008B8B">2. –†–∞–±–æ—Ç–∞ —Å –¥–∞–Ω–Ω—ã–º–∏. –í–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏</h1>

https://www.kaggle.com/competitions/titanic/data

In [1]:
!pip install pandas

Requirement already satisfied: pandas in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import xlwings as xw
import pandas as pd

In [3]:
!dir

 Volume in drive G has no label.
 Volume Serial Number is E05A-0CB6

 Directory of G:\Programming\excel_basics\seminars\sem7hw

01/10/2024  12:42 AM    <DIR>          .
12/20/2023  10:04 PM    <DIR>          ..
01/10/2024  03:10 PM    <DIR>          .idea
12/20/2023  10:53 PM    <DIR>          .ipynb_checkpoints
01/10/2024  12:41 AM           403,588 automate_excel_with_python.xlsx
01/10/2024  12:42 AM            69,079 Lesson_code.ipynb
01/10/2024  12:24 AM         2,195,693 MyPDF.pdf
12/20/2023  11:17 PM                14 test.py
12/20/2023  11:18 PM             6,561 test_file.xlsx
01/10/2024  12:46 AM    <DIR>          titanic
12/20/2023  11:17 PM    <DIR>          venv
               5 File(s)      2,674,935 bytes
               6 Dir(s)  363,155,320,832 bytes free

# 2.1 –†–∞–±–æ—Ç–∞ —Å –∫–Ω–∏–≥–∞–º–∏

|  | xw.Book |
| :- | :- |
| New Book | xw.Book() |
| Unsaved book | xw.Book('Book1') |
| Book by (full)name | xw.Book(r'C:/path/to/file.xlsx')|

In [7]:
# –°–æ–∑–¥–∞–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ –∫–Ω–∏–≥–∏
wb = xw.Book("titanic/titanic.xlsm")
wb.sheet_names

['train', 'empty sheet3', 'empty sheet', '_xlwings.conf']

In [6]:
# –ó–∞–∫—Ä—ã—Ç—å —Ä–∞–±–æ—á—É—é –∫–Ω–∏–≥—É
# wb.close()

# 2.2 –õ–∏—Å—Ç—ã –∫–Ω–∏–≥–∏

In [8]:
# –î–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–π –ª–∏—Å—Ç
sht1 = wb.sheets.add(name='empty sheet3', after=wb.sheets[0].name)

ValueError: Sheet named 'empty sheet3' already present in workbook

In [9]:
# –ü–æ–ª—É—á–µ–Ω–∏–µ –∑–∞–Ω—á–µ–Ω–∏–π –∏–∑ –¥–∏–∞–ø–∞–∑–æ–Ω–∞
# –≤ options —É–∫–∞–∑–∞—Ç—å expand="table" - –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —Å—á–∏—Ç–∞–µ—Ç –¥–∏–∞–ø–æ–∑–æ–Ω
wb.sheets['train'].range("A1:L892").value[:1]
wb.sheets[0].range("A1:L892").value[:2]

[['PassengerId',
  'Survived',
  'Pclass',
  'Name',
  'Sex',
  'Age',
  'SibSp',
  'Parch',
  'Ticket',
  'Fare',
  'Cabin',
  'Embarked'],
 [1.0,
  0.0,
  3.0,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1.0,
  0.0,
  'A/5 21171',
  7.25,
  None,
  'S']]

In [10]:
# –û–±—Ä–∞—â–µ–Ω–∏–µ –∫ —Ç–∞–±–ª–∏—Ü–µ/–∏–º–µ–Ω–æ–≤–∞–Ω–Ω–æ–º—É –¥–∏–∞–ø–∞–∑–æ–Ω—É –ª–∏—Å—Ç–∞
wb.sheets[0]['train'].value[:1]
# wb.sheets[0].range('train').value[:1]

[[1.0,
  0.0,
  3.0,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1.0,
  0.0,
  'A/5 21171',
  7.25,
  None,
  'S']]

In [5]:
# –ó–∞–ø–∏—Å—å –¥–∞–Ω–Ω—ã—Ö –≤ —è—á–µ–π–∫—É A1
from random import randint
wb.sheets[1].range("A1").value = randint(1, 10)

In [9]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª–∏—Å—Ç–æ–≤
wb.sheets.count

4

In [10]:
# –ü–æ–ª—É—á–∏—Ç—å –∞–∫—Ç–∏–≤–Ω—ã–π –ª–∏—Å—Ç
wb.sheets.active

# 2.3 –ó–∞–≥—Ä—É–∑–∫–∞/–≤—ã–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö

https://docs.xlwings.org/en/latest/converters.html

In [11]:
wb.sheets[0].range("A1").expand().options(pd.DataFrame).value[:2]

C:\Users\mirsoat\AppData\Local\Temp\ipykernel_7596\2642758402.py:1: FutureWarning: The behavior of obj[i:j] with a float-dtype index is deprecated. In a future version, this will be treated as positional instead of label-based. For label-based slicing, use obj.loc[i:j] instead
  wb.sheets[0].range("A1").expand().options(pd.DataFrame).value[:2]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,None,S
2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C

`pd.read_excel()`

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [16]:
df = pd.read_csv("titanic/train.csv")
df.head(n=2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

`pd.read_excel()`

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html?highlight=read_excel#pandas.read_excel

In [13]:
!pip install openpyxl

Requirement already satisfied: openpyxl in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from openpyxl) (1.1.0)

In [73]:
df = pd.read_excel("titanic/titanic.xlsm", sheet_name="train")
df.head(n=2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

# 2.4 Formatter

https://docs.xlwings.org/en/latest/converters.html

In [14]:
def table(rng: xw.Range, df: pd.DataFrame):
    """This is the formatter function"""
    # Header
    rng[0, :].color = "#A9D08E"

    # Rows
    for ix, row in enumerate(rng.rows[1:]):
        if ix % 2 == 0:
            row.color = "#D0CECE"  # Even rows

    # Columns
    for ix, col in enumerate(df.columns):
        if "two" in col:
            rng[1:, ix].number_format = "0,00%"


    for ix, col in enumerate(df.columns):
        if "three" in col:
            rng[1:, ix].number_format = "d/m/yyy"

            
df = pd.DataFrame(data={"one": [1, 2, 3, 4], "two": [5, 6, 7, 8], "three": [15, 16, 17, 18]})
wb.sheets[1]["A1"].options(formatter=table, index=False).value = df

In [27]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# 2.5 View –∏ Load

In [80]:
# –ó–∞–ø–∏—Å—å –≤ –Ω–æ–≤—É—é –∫–Ω–∏–≥—É
xw.view(df)

In [28]:
# –ó–∞–ø–∏—Å—å –≤ –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–π –ª–∏—Å—Ç
xw.view(df, sheet=wb.sheets[2])

In [29]:
# –ó–∞–≥—Ä—É–∑–∏—Ç–µ –≤—ã–±—Ä–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ pandas dataframe 
load_df = xw.load()

In [30]:
load_df.head(n=4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
,,,,,,,,,,,,
0.0,NaN,NaN,NaN,None,None,NaN,NaN,NaN,None,NaN,None,None
1.0,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C
2.0,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,None,S
3.0,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803.0,53.1000,C123,S

In [31]:
print(type(df) == type(load_df))
del load_df

True

# 2.6 –ü—Ä–∏–º–µ—Ä—ã

In [36]:
# –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –∏–∑ –¥–∏–∞–ø–∞–∑–æ–Ω–∞
wb.sheets[2].range('B1:B3').value

['PassengerId', None, 2.0]

In [38]:
# Insert Formula
wb.sheets[2].range('B1:B3').formula = "=A1+A10"

In [39]:
# –°–æ–∑–¥–∞–Ω–∏–µ –∏–º–µ–Ω–æ–≤–∞–Ω–Ω—ã—Ö –¥–∏–∞–ø–∞–∑–æ–Ω–æ–≤
wb.sheets[2].range("B1:B3").name = "–ù–æ–≤—ã–π_–¥–∏–∞–ø–∞–∑–æ–Ω"

In [40]:
# –ó–∞–ø–∏—Å—å —Å —Ç—Ä–∞–Ω—Å–ø–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ–º
wb.sheets[1].range('B1:B3').options(transpose=False).value = [10, 20, 404]

In [42]:
# –ó–∞–¥–∞–¥–∏–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å 1
wb.sheets[1].range("B1:B3").options(ndim=1).value

[10.0, 20.0, 404.0]

In [43]:
# –ó–∞–¥–∞–¥–∏–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å 2
wb.sheets[2].range("B1:B3").options(ndim=2).value

[['0'], [9.0], [11.0]]

In [87]:
# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
wb.to_pdf('MyPDF')

'MyPDF'

–£–Ω–∏–∫–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–µ–º–µ–π–Ω—ã—Ö –æ—Ç–Ω–æ—à–µ–Ω–∏–π –¥–ª—è –∫–ª–∞—Å—Å–∞ –±–∏–ª–µ—Ç–∞:

In [46]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [40]:
df.pivot_table(index='Pclass', aggfunc={'SibSp': 'nunique'})

        SibSp
Pclass
1           4
2           4
3           7

In [88]:
wb.sheets[1].range("A1").options(index=True).value = df.pivot_table(index='Pclass', aggfunc={'SibSp': 'nunique'})

# 2.7 –ì—Ä–∞—Ñ–∏–∫–∏

https://docs.xlwings.org/en/stable/matplotlib.html

In [41]:
!pip install seaborn

Requirement already satisfied: seaborn in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from seaborn) (1.26.2)
Requirement already satisfied: pandas>=1.2 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.0)
Requirement already satisfied: kiwisolver>=1.3.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in g:\programming\excel_basics\seminars\sem7hw\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

(–û–®–ò–ë–ö–£ –ù–ï –ò–°–ü–†–ê–í–ò–õ –ï–©–Å)

In [99]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from xlwings import Workbook

# –ü—Ä–∏–º–µ—Ä —Å–æ–∑–¥–∞–Ω–∏—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ (–∑–∞–º–µ–Ω–∏—Ç–µ —ç—Ç–æ –Ω–∞ –≤–∞—à —Ä–µ–∞–ª—å–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º)
data = {'Pclass': [1, 2, 3], 'Survived': [0.75, 0.5, 0.25]}
df = pd.DataFrame(data)

fig, ax = plt.subplots()
sns.barplot(x='Pclass', y='Survived', data=df, ax=ax)
ax.set_xlabel('Pclass')
ax.set_ylabel('Survived')

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –≥—Ä–∞—Ñ–∏–∫ –≤–æ –≤—Ä–µ–º–µ–Ω–Ω—ã–π —Ñ–∞–π–ª (–≤ —ç—Ç–æ–º —Å–ª—É—á–∞–µ –≤ —Ñ–æ—Ä–º–∞—Ç–µ PNG)
temp_file_path = 'temp_plot.png'
fig.savefig(temp_file_path, bbox_inches='tight')

# –°–æ–∑–¥–∞–µ–º –∏–ª–∏ –ø–æ–ª—É—á–∞–µ–º —Ä–∞–±–æ—á—É—é –∫–Ω–∏–≥—É (–∑–∞–º–µ–Ω–∏—Ç–µ —ç—Ç–æ –Ω–∞ –≤–∞—à —Ä–µ–∞–ª—å–Ω—ã–π –∫–æ–¥)
wb = Workbook()

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ —É –≤–∞—Å –µ—Å—Ç—å –∞–∫—Ç–∏–≤–Ω—ã–π –ª–∏—Å—Ç wb.sheets[0]

# –î–æ–±–∞–≤–ª–µ–Ω–∏–µ –≥—Ä–∞—Ñ–∏–∫–∞ –≤ Excel
wb.sheets[0].pictures.add(temp_file_path, name='MyPlot', update=True)

# –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ —Ä–∞–±–æ—á–µ–π –∫–Ω–∏–≥–∏
wb.save('output.xlsx')

# –£–¥–∞–ª—è–µ–º –≤—Ä–µ–º–µ–Ω–Ω—ã–π —Ñ–∞–π–ª
import os
os.remove(temp_file_path)

ImportError: cannot import name 'Workbook' from 'xlwings' (G:\Programming\excel_basics\seminars\sem7hw\venv\Lib\site-packages\xlwings\__init__.py)

In [42]:
wb.save('automate_excel_with_python.xlsx')
wb.close()

<h1 style="color:#008B8B">3. –ú–∞–∫—Ä–æ—Å—ã</h1>

https://docs.xlwings.org/en/stable/vba.html#run-python

–°–æ–∑–¥–∞—ë–º –Ω–æ–≤—ã–π –º–æ–¥—É–ª—å –∏ –¥–æ–±–∞–≤–ª—è–µ–º —ç—Ç–æ—Ç –∫–æ–¥:

```C
Sub HelloWorld()
    RunPython "import hello; hello.world()"
End Sub
```

–≠—Ç–æ –≤—ã–∑—ã–≤–∞–µ—Ç —Å–ª–µ–¥—É—é—â–∏–π –∫–æ–¥ –≤ hello.py:

```Python
# hello.py
import numpy as np
import xlwings as xw


def world():
    wb = xw.Book.caller()
    wb.sheets[0]['A1'].value = 'Hello World!'
```

–í Windows, –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤—ã –≤—ã–∑–æ–≤—É –º–∞–∫—Ä–æ—Å–æ–≤ —á–µ—Ä–µ–∑ Run Python, –≤—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—Ç–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–µ–∫–æ—Ä–∞—Ç–æ—Ä @xw.sub:

```python
import xlwings as xw


@xw.sub
def my_macro():
    """Writes the name of the Workbook into Range("A1") of Sheet 1"""
    wb = xw.Book.caller()
    wb.sheets[0].range('A1').value = wb.name
```

<h1 style="color:#008B8B">4. –ö–æ–Ω—Ñ–∏–≥—É—Ä–∏—Ä–æ–≤–∞–Ω–∏–µ</h1> (–≠–¢–£ –¢–ï–ú–£ –ù–ï –£–°–ü–ï–õ–ò –†–ê–ó–û–ë–†–ê–¢–¨, –ë–£–î–ï–¢ –ó–ê–ü–†–û–°, –ù–ê–ü–ò–®–£ –¢–£–¢–û–†–ò–ê–õ)

–£ –¥–∞–Ω–Ω–æ–≥–æ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –µ—Å—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –µ–≥–æ –±–µ–∑ —É—Å—Ç–∞–Ω–æ–≤–∫–∏ –Ω–∞–¥—Å—Ç—Ä–æ–π–∫–∏. –¢–æ –µ—Å—Ç—å, –Ω–∞–º –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã, —á—Ç–æ–±—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏.

`C:\Users\your_system_username\.xlwings\xlwings.conf`


**–ö–∞–∫ –≤—ã–≥–ª—è–¥–∏—Ç –∫–æ–Ω—Ñ–∏–≥—É—Ä–∞—Ü–∏–æ–Ω–Ω—ã–π —Ñ–∞–π–ª:**

```
"ADD_WORKBOOK_TO_PYTHONPATH","False"
"USE UDF SERVER","False"
"SHOW CONSOLE","False"
"INTERPRETER_WIN","D:\GitHub\venv\Scripts\python.exe"
"PYTHONPATH","D:\GitHub\titanic"
```


**1. –£–¥–∞–ª—è–µ–º –Ω–∞–¥—Å—Ç—Ä–æ–π–∫—É**

`xlwings addin remove`

**2. –°–æ–∑–¥–∞—ë–º –Ω–æ–≤—ã–π –ø—Ä–æ–µ–∫—Ç**

`xlwings quickstart demo_config --standalone`

**–ö–∞–∫ –¥–æ–±–∞–≤–∏—Ç—å –º–∞–∫—Ä–æ—Å—ã –≤ —É–∂–µ —Ä–∞–±–æ—á—É—é –∫–Ω–∏–≥—É?**

In [129]:
xw.__file__

'D:\\GitHub\\venv\\lib\\site-packages\\xlwings\\__init__.py'

–ö–æ–ø–∏—Ä—É–µ–º —ç—Ç–æ—Ç –∫—É—Å–æ—á–µ–∫:

`D:\\GitHub\\venv\\lib\\site-packages\\xlwings`

`Dictionary.cls`- macos

`xlwings.bas` - windows

**–ö–∞–∫ –ø–µ—Ä–µ–¥–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä—ã?**

https://stackoverflow.com/questions/35606251/how-to-pass-arguments-from-xlwings-to-vba-excel-macro

https://stackoverflow.com/questions/34167920/passing-a-variable-from-excel-to-python-with-xlwings

**–î–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è –≤ PDF**

https://buildmedia.readthedocs.org/media/pdf/xlwings/stable/xlwings.pdf

**–¢—É—Ç –º–æ–∂–Ω–æ –ø–æ—á–∏—Ç–∞—Ç—å —á—Ç–æ-—Ç–æ –ø–æ–ª–µ–∑–Ω–æ–µ:**

https://www.quora.com/How-does-PyXLL-or-xlwings-of-Python-help-Excel-automation-Is-it-in-terms-of-performance-or-do-we-get-any-additional-features


**–•–æ—Ä–æ—à–∏–π –∫–æ–¥ –ø–æ titanic**

https://www.kaggle.com/competitions/titanic/data

https://www.kaggle.com/code/brendan45774/titanic-top-solution

https://www.kaggle.com/code/ash316/eda-to-prediction-dietanic

https://www.kaggle.com/code/gunesevitan/titanic-advanced-feature-engineering-tutorial